html {
  width: 100%;
  height: 100%;
  scroll-behavior: smooth;
}
body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0;
  font-family: sans-serif;
  background-color: black;
}
nav {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
  transition: all 0.5s ease;
  padding-bottom: 16px; /* 2vh = 16px */
}
main {
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer {
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
}
.area {
  width: 1000px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.lnav {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 8px; /* 1vh = 8px */
  background-color: rgb(32, 32, 32);
  padding: 16px 0; /* 2vh = 16px */
}
.n-a {
  width: 100%;
  height: auto; /* 10vh = 80px */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0px;
}
.lsnt {
  color: white;
  margin: 0px;
  font-size: 20px; /* 2.5vh = 20px */
  font-weight: lighter;
  transition: all 0.2s ease;
  cursor: pointer;
  text-decoration: none;
}
.lsntb {
  color: rgb(235, 235, 235);
  margin: 0px;
  font-size: 20px; /* 3vh = 24px */
  font-weight: bold;
  transition: all 0.2s ease;
  cursor: pointer;
  text-decoration: none;
  margin: 0px 30px; /* 4vh = 32px */
}
.lsnt:hover,
.lsntb:hover {
  color: rgb(173, 173, 173);
}
.lsntt {
  font-weight: bold;
  text-decoration: underline;
}
.lgn {
  color: white;
  margin: 0px;
  font-size: 28px; /* 3.5vh = 28px */
  font-weight: bolder;
  margin: 0px 30px; /* 4vh = 32px */
  cursor: pointer;
  text-decoration: none;
}
.lsn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px; /* 2vh = 16px */
  margin: 0px 30px; /* 4vh = 32px */
}
.acc {
  width: 40px; /* 5vh = 40px */
  height: 40px; /* 5vh = 40px */
  background-color: white;
  border-radius: 50%;
  margin: 0px 8px; /* 1vh = 8px */
}
.burger {
  height: 20px; /* 40% of a 40px height */
  width: fit-content;
  filter: brightness(0) invert(1);
  margin: 0px 30px; /* 4vh = 32px */
  cursor: pointer;
  text-decoration: none;
}

main {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.home {
  width: 100%;
  height: fit-content;
}
.jdl {
  width: 100%;
  text-align: center;
  margin-top: 80px; /* 10vh = 80px */
  margin-bottom: 40px; /* 5vh = 40px */
  display: flex;
  justify-content: center;
  align-items: center;
}
.jdl h1 {
  width: 80%;
  margin: 0px;
  font-size: 48px; /* 6vh = 48px */
  color: white;
}
.ktkimg {
  width: 50%;
  height: fit-content;
  border-radius: 8px; /* 1vh = 8px */
  padding: 25px 25px; /* 3vh = 24px */
  margin-bottom: 160px; /* 20vh = 160px */
  background-color: rgb(0, 117, 20);
  cursor: pointer;
  text-decoration: none;
}
.ktkimg2 {
  width: 35%;
  height: fit-content;
  border-radius: 8px; /* 1vh = 8px */
  padding: 24px 24px; /* 3vh = 24px */
  background-color: rgb(0, 117, 20);
  cursor: pointer;
  text-decoration: none;
}
.disab {
  filter: brightness(40%);
  pointer-events: none;
}
.txtki {
  display: flex;
  align-items: start;
  width: 100%;
  height: auto; /* 10vh = 80px */
  color: white;
  margin: 0px;
  font-size: 20px; /* 2.5vh = 20px */
  font-weight: bold;
}
.fimg {
  width: 100%;
  height: auto; /* 80vh = 640px */
  display: flex;
  justify-content: center;
  align-items: center;
}
.img {
  width: 100%;
  height: fit-content; /* 80vh = 640px */
  margin: 0px 0px 15px 0px;
  object-fit: cover;
  border-radius: 10px;
}
.txtki3 {
  display: flex;
  align-items: center;
  width: 100%;
  height: auto;
  color: white;
  margin: 0px;
  font-size: 24px; /* 3vh = 24px */
}
.txtki2 {
  display: flex;
  align-items: start;
  width: 100%;
  height: auto; /* 10vh = 80px */
  color: white;
  margin: 0px;
  font-size: 24px; /* 3vh = 24px */
  font-weight: bold;
}
.fimg2 {
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 16px 0; /* 2vh = 16px */
}
.img2 {
  width: 40%;
  height: fit-content;
}
.txtki22 {
  display: flex;
  align-items: center;
  width: 100%;
  height: auto; /* 10vh = 80px */
  color: white;
  margin: 0px;
  font-size: 18px; /* 2.3vh = 18px */
}

.grs {
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
}
.grss {
  width: 90%;
  height: 2px; /* 0.25vh = 2px */
  background-color: rgb(189, 189, 189);
}
.ktk {
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 80px; /* 10vh = 80px */
  margin-bottom: 160px; /* 20vh = 160px */
}
.ktk2 {
  width: 80%;
  height: fit-content;
  padding: 80px 40px; /* 10vh = 80px, 5vh = 40px */
  background-color: rgb(34, 34, 34);
  border-radius: 8px; /* 1vh = 8px */
}
.txt {
  color: white;
  margin: 0px;
  font-size: 28px; /* 3.5vh = 28px */
  font-weight: bold;
  text-align: center;
  margin-bottom: 16px; /* 2vh = 16px */
}
.btn {
  font-size: 16px; /* 2vh = 16px */
  color: black;
  background-color: white;
  border: 0;
  outline: 0;
  border-radius: 24px; /* 3vh = 24px */
  padding: 10px 32px; /* 1.2vh = 10px, 4vh = 32px */
  cursor: pointer;
  text-decoration: none;
}
.f {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.fot {
  width: 90%;
  height: fit-content;
}
.trans {
  width: fit-content;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px 32px; /* 2vh = 16px, 4vh = 32px */
  border-radius: 8px; /* 1vh = 8px */
  background-color: rgb(34, 34, 34);
  cursor: pointer;
  text-decoration: none;
}
.trans img {
  width: fit-content;
  height: 16px; /* 2vh = 16px */
  margin-right: 16px; /* 2vh = 16px */
}
.trans p {
  margin: 0px;
  font-size: 16px; /* 2vh = 16px */
  color: white;
}
.bot {
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 16px; /* 2vh = 16px */
  margin-bottom: 40px; /* 5vh = 40px */
}
.bot p {
  margin: 0px;
  font-size: 16px; /* 2vh = 16px */
  color: white;
}
.sm {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px; /* 2vh = 16px */
}
.sm a {
  width: fit-content;
  height: fit-content;
  margin-right: 16px; /* 2vh = 16px */
  cursor: pointer;
  text-decoration: none;
}
.sm img {
  width: fit-content;
  height: 16px; /* 2vh = 16px */
}

.data {
  width: 100%;
  height: fit-content;
}
.lki {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: start;
  flex-wrap: wrap;
  gap: 24px; /* 3vh = 24px */
  margin-top: 24px; /* 3vh = 24px */
  margin-bottom: 80px; /* 10vh = 80px */
}
.ljp {
  width: 95%;
  margin-top: 24px; /* 3vh = 24px */
  margin-bottom: 80px; /* 10vh = 80px */
}
.pilljp {
  width: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
}
.flpljp {
  width: auto;
  text-align: center;
  margin: 0px;
  font-size: 24px; /* 3vh = 24px */
  color: white;
  cursor: pointer;
  background-color: rgb(43, 43, 43);
  padding: 16px 24px; /* 2vh = 16px, 3vh = 24px */
  border-bottom: 2px solid rgb(141, 141, 141);
}
.trpljp {
  width: auto;
  text-align: center;
  margin: 0px;
  font-size: 24px; /* 3vh = 24px */
  color: white;
  cursor: pointer;
  background-color: rgb(75, 75, 75);
  padding: 16px 24px; /* 2vh = 16px, 3vh = 24px */
  border-bottom: 2px solid white;
}
.bodyljp {
  width: 100%;
  min-height: 640px; /* 80vh = 640px */
  height: auto;
  background-color: rgb(75, 75, 75);
  display: flex;
  justify-content: center;
  align-items: start;
}
.bodyljp2 {
  width: 90%;
  height: auto;
  margin-top: 48px; /* 6vh =  48px */
  margin-bottom: 48px; /* 6vh = 48px */
}
.fbtnjp {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px; /* 2vh = 16px */
  margin: 24px 0; /* 3vh = 24px */
}
.jdlljp {
  width: 90%;
  margin: 0px;
  font-size: 26px; /* 3.3vh = 26px */
  color: white;
  text-align: center;
}
.subjdljp {
  width: 90%;
  margin: 0px;
  font-size: 20px; /* 3vh = 24px */
  color: white;
  margin-top: 20px; /* 3vh = 24px */
}
.stljp,
.otljp {
  width: 100%;
}
.jadcp {
  width: auto;
  height: auto;
  display: flex;
  justify-content: start;
  align-items: start;
  flex-wrap: wrap;
  gap: 16px; /* 2vh = 16px */
  margin-top: 2px; /* 0.3vh = 2px */
  margin-bottom: 24px; /* 3vh = 24px */
}
.jadc {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-wrap: wrap;
  border-radius: 8px; /* 1vh = 8px */
  background-color: white;
  padding: 16px 24px; /* 2vh = 16px, 3vh = 24px */
  gap: 8px; /* 1vh = 8px */
}
.jadcbp {
  background-color: #e7ffea;
}
.jpew {
  margin: 0px;
  font-size: 24px; /* 3vh = 24px */
  color: rgb(255, 0, 0);
  font-weight: bold;
}
.jpem {
  margin: 0px;
  font-size: 20px; /* 3vh = 24px */
  color: rgb(0, 0, 0);
  font-weight: bold;
}
.dayi {
  width: 100%;
  height: auto;
  font-size: 20px; /* 2.5vh = 20px */
  padding: 8px 0; /* 1vh = 8px */
  text-align: center;
  font-weight: bold;
  margin-top: 8px; /* 1vh = 8px */
}
.searchi {
  width: 100%;
  height: auto;
  font-size: 20px; /* 2.5vh = 20px */
  padding: 8px 0; /* 1vh = 8px */
  text-align: center;
  font-weight: bold;
  margin-top: 8px; /* 1vh = 8px */
}
.ttfn {
  font-size: 150px; /* 30vh = 240px */
  text-align: center;
  color: white;
}
.jrk3 {
  margin: 24px 0; /* 3vh = 24px */
}

@media screen and (max-width: 5500px) {
  .subjdljp {
    font-size: 20px;
  }
  .jpem {
    font-size: 20px;
  }
  .jpew {
    font-size: 20px;
  }
  .lki {
    width: 100%;
  }
  .area {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .burger {
    display: none;
  }
  .lnav {
    display: none;
  }
  .ljp {
    width: 95%;
  }
  .flpljp {
    width: auto;
    text-align: center;
  }
  .trpljp {
    width: auto;
    text-align: center;
  }
  .fbtnjp {
    width: 100%;
    margin: 24px 0; /* 3vh = 24px */
    flex-wrap: nowrap;
  }
  .lsnt {
    font-size: 20px; /* 2.5vh = 20px */
  }
  .lgn {
    font-size: 28px; /* 3.5vh = 28px */
  }
}
@media screen and (max-width: 1050px) {
  .area {
    width: 100%;
  }
  .ljp {
    width: 90%;
  }
  .ktkimg {
    width: 50%;
    padding: 24px 24px; /* 3vh = 24px */
  }
  .txtki {
    font-size: 20px; /* 2.5vh = 20px */
  }
  .txtki3 {
    font-size: 20px; /* 2.5vh = 20px */
  }
  .lsnt {
    font-size: 18px; /* 2.2vh = 18px */
  }
  .lgn {
    font-size: 26px; /* 3.2vh = 26px */
  }
}
@media screen and (max-width: 750px) {
  .ktkimg2 {
    width: 75%;
  }
  .ktkimg {
    width: 60%;
    padding: 24px 24px; /* 3vh = 24px */
  }
  .txtki {
    font-size: 20px; /* 2.5vh = 20px */
  }
  .txtki3 {
    font-size: 20px; /* 2.5vh = 20px */
  }
}
@media screen and (max-width: 600px) {
  .txt {
    font-size: 22px; /* 2.8vh = 22px */
  }
  .ljp {
    width: 85%;
  }
  .ktkimg {
    width: 70%;
    padding: 24px 24px; /* 3vh = 24px */
  }
  .txtki {
    font-size: 20px; /* 2.5vh = 20px */
  }
  .txtki3 {
    font-size: 20px; /* 2.5vh = 20px */
  }
  .jdl h1 {
    width: 80%;
    font-size: 40px; /* 5vh = 40px */
  }
  .ktk2 {
    width: 75%;
    height: fit-content;
    padding: 80px 40px; /* 10vh = 80px, 5vh = 40px */
  }
  .ktkimg {
    width: 65%;
    padding: 24px 24px; /* 3vh = 24px */
  }
  .txtki {
    font-size: 20px; /* 2.5vh = 20px */
  }
  .txtki3 {
    font-size: 20px; /* 2.5vh = 20px */
  }
  .subjdljp {
    font-size: 16px;
  }
  .jpem {
    font-size: 16px;
  }
  .jpew {
    font-size: 16px;
  }
}
@media screen and (max-width: 520px) {
  .fbtnjp {
    width: 100%;
    margin: 24px 0 40px 0; /* 3vh = 24px, 5vh = 40px */
    flex-wrap: wrap;
  }
  .flpljp {
    width: 50%;
    text-align: center;
  }
  .trpljp {
    width: 50%;
    text-align: center;
  }
  .burger {
    display: block;
  }
  .lsn {
    display: none;
  }
  .lnav {
    display: flex;
  }
  .ljp {
    width: 80%;
  }
  .ktk2 {
    width: 60%;
    height: fit-content;
    padding: 80px 40px; /* 10vh = 80px, 5vh = 40px */
  }
  .jdl h1 {
    width: 80%;
    font-size: 32px; /* 4vh = 32px */
  }
  .txt {
    font-size: 20px; /* 2.5vh = 20px */
  }
  .ktkimg {
    width: 65%;
    padding: 24px 24px; /* 3vh = 24px */
  }
  .txtki {
    font-size: 18px; /* 2.3vh = 18px */
  }
  .txtki3 {
    font-size: 17px; /* 2.1vh = 17px */
  }
  .lsnt {
    font-size: 16px; /* 2vh = 16px */
  }
  .lgn {
    font-size: 24px; /* 3vh = 24px */
  }
  .lki {
    width: 90%;
  }
}

.n {
  display: none;
}
